<!DOCTYPE html>
<meta charset="utf-8">
<head>
  {% load staticfiles %}
  <script src="{% static 'js/pace.min.js' %}"></script>
  <link href="{% static 'css/dataurl.css' %}" rel="stylesheet">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body>
   <div id="inputbox-container">
    <div class="inputbox" id="searchbox" style="margin-left: 50px;">
      <span>search gene:</span>
    </div>

    <div class="inputbox">
      <span>select samples:</span>
      <div id="specimen-select">
      </div>
    </div>

    <div class="inputbox">
      <span>intron view:</span>
      <div id="specimen-select">
      </div>
    </div>
  </div>



  
  <div id="svg-container"></div>

  <script src="{% static 'js/d3.v3.min.js' %}"></script>
  <script src="{% static 'js/complete.ly.1.0.1.min.js' %}"></script>
  
  <script src="{% static 'js/genemodel.js' %}"></script>
  <script src="{% static 'js/listeners.js' %}"></script>
  
</body>
